<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ホーム - pokemoguプロジェクト</title>
    <link rel="apple-touch-icon" sizes="180x180" href="https://kakaomames.github.io/Minecraft-flask-app/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://kakaomames.github.io/Minecraft-flask-app/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://kakaomames.github.io/Minecraft-flask-app/static/favicon-16x16.png">
<link rel="manifest" href="https://kakaomames.github.io/Minecraft-flask-app/static/site.webmanifest">
    <link rel="stylesheet" href="https://kakaomames.github.io/Minecraft-flask-app/static/style.css">
</head>
<body>
    <header>
        <h1>マイクラプロジェクト</h1>
        <nav>
            <ul>
                <li><a href="/home">ホーム</a></li>
                <li><a href="/h">GITHUBにセーブデータ保存</a></li>
                <li><a href="/cmd">Webコマンド実行ツール</a></li>
                <br>
                <li><a href="/run?cmd=">直接コマンド実行したい方向け...</a></li>
                <li><a href="/link">URL検索✨</a></li>
                <li><a href="/url-dl">オンラインダウンローダー</a></li>
                <br>
                <li><a href="/ikkatu-url">🔗一括URLダウンローダー🔗</a></li>
                <li><a href="/mqo">📁mqoからobjに変換📁</a></li>
                <li><a href="/games">ゲーム👿</a></li>
                <br>
                <li><a href="/scratch">💻スクラッチのデータ取得🐱</a></li>
                <li><a href="/dl?data_url=">🔗スクラッチデータ(sb3)ダウンローダー🔗</a></li>
                <li><a href="https://kakaomames.github.io/turbowarp/">🧑‍💻スクラッチ🐱</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
        <p>ここはホーム画面です。各メニューから移動してください。</p>
    </main>
    <footer>
        <p>&copy; 2025 pokemoguプロジェクト</p>
    </footer>
</body>
</html>
